<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/recommend.css" />
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/drawer') %>
    <main>
      <h1>Error!</h1>
      <p>Somthing went wrong on the server<br>We are trying our best to fix the issue.</p>
    </main>
  </body>
</html>
